@import "modules/variables";
@import "modules/mixins";
@import "modules/reset";
@import "modules/header";
@import "modules/responsive";
@import "modules/banner";
@import "modules/section-intro";
@import "modules/home";
@import "modules/contact";
@import "modules/blog";
@import "modules/btn";
@import "modules/footer";


.loader {
    border: 2px solid #313131;
    border-radius: 50%;
    border-top: 2px solid #ffffff;
    width: 22px;
    height: 22px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
    display: inline-block;
    margin-right: 5px;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}